body {
    display: flex;
    justify-content: center;
    padding-top: 3rem;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

button {
    font-size: large;
    min-height: 3rem;
    min-width: 3rem;
}

.calculator {
    display: grid;
}

#display {
    grid-row: 1;
    grid-column: 1 / span 4;
    padding: 0.5rem;
    font-size: x-large;
}

/* top row */
#clear {
    grid-row: 2;
    grid-column: 1 / span 2;
}
#signflip {
    grid-row: 2;
    grid-column: 3;
}

/* operators & equals button */
#divide {
    grid-row: 2;
    grid-column: 4;
}
#multiply {
    grid-row: 3;
    grid-column: 4;
}
#subtract {
    grid-row: 4;
    grid-column: 4;
}
#add {
    grid-row: 5;
    grid-column: 4;
}
#equals {
    grid-row: 6;
    grid-column: 4;
}

/* numpad */
#seven {
    grid-row: 3;
    grid-column: 1;
}
#eight {
    grid-row: 3;
    grid-column: 2;
}
#nine {
    grid-row: 3;
    grid-column: 3;
}
#four {
    grid-row: 4;
    grid-column: 1;
}
#five {
    grid-row: 4;
    grid-column: 2;
}
#six {
    grid-row: 4;
    grid-column: 3;
}
#one {
    grid-row: 5;
    grid-column: 1;
}
#two {
    grid-row: 5;
    grid-column: 2;
}
#three {
    grid-row: 5;
    grid-column: 3;
}
#zero {
    grid-row: 6;
    grid-column: 1 / span 3;
}
